services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: foods
      POSTGRES_PASSWORD: foods_pw
      POSTGRES_DB: foods_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
