# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.log

# Virtual environment
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Flask/instance data
instance/
*.sqlite3
*.db
foods.json

# IDEs / editors
.vscode/
.idea/

# Byte-compiled cache
*.pyc
__pycache__/
